<div class="search-top">
  <h2 class="text-center">全国のサウナを探そう</h2>
  <%= form_tag(search_path,:method => 'get', class: 'search-form') do %>
    <%= text_field_tag :title_or_description_or_address_cont, '', placeholder: "サウナを検索する" %>
    <%= submit_tag '検索', :name => nil, class: "btn btn-light btn-sm my-1 my-sm-0" %>
  <% end %>
</div>

<h3 class="mt-5 mb-5 text-center">♨︎ すべてのサウナ <%= @posts.total_count %>件 ♨︎</h3>

<main class="container">
  <div class="row">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
</main>