<div class="like-form mb-3" id="like-form-<%= post.id %>">
  <% if user_signed_in? %>
    <% if current_user.already_liked?(post) %>
      <%= link_to post_like_path(post, Like.find_by(post_id: post.id, user_id: current_user.id)), method: :delete, remote: true do %>
        <i class="fas fa-heart"></i> <span class="text-muted"><%= post.likes.count %></span>
      <% end %>
    <% else %>
      <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
        <i class="far fa-heart"></i> <span class="text-muted"><%= post.likes.count %></span>
      <% end %>
    <% end %>
  <% else %>
    <i class="fas fa-heart"></i> <span class="text-muted"><%= post.likes.count %></span>
  <% end %>
</div>