<h3 class="mt-5 text-center">記事編集</h3>

<main class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 mt-3">
            <%= form_for @post do |f| %>
                <%= render "users/shared/error_messages", resource: @post %>

                <div class="form-group">
                    <%= f.label :title %><br />
                    <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :image %><br />
                    <p><%= image_tag @post.image.url unless @post.image.blank? %></p>
                    <%= f.file_field :image, class: "form-control" %>
                    <% unless @post.image.blank? %>
                        <p><%= f.check_box :remove_image, class: "mt-2" %>画像を削除する</p>
                    <% end %>
                </div>

                <div class="form-group">
                    <%= f.label :address %><br />
                    <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :description %><br />
                    <%= f.text_area :description, size: "20x10", autofocus: true, autocomplete: "description", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :site_url %><br />
                    <%= f.text_field :site_url, autofocus: true, autocomplete: "site_url", class: "form-control" %>
                </div>

                <div class="actions">
                    <%= f.submit "編集", class: "btn btn-info" %>
                </div>
            <% end %>
        </div>
    </div>
</main>

