<h3 class="mt-5 mb-5 text-center">
  <% if params[:keyword].present? %>
    <%= params[:keyword] %>の検索結果: <%= @posts.total_count %>件
  <% else %>
    すべてのサウナ: <%= @posts.total_count %>件
  <% end %>
</h3>

<main class="container">
  <div class="row">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
</main>