<main class="container">
    <div class="row">
        <div class="card col-md-8 offset-md-2 mt-5 mb-5">
            <h4 class="card-title mt-3 text-center"><%= @post.title %></h4>
            <p class="text-center">by: <%= link_to @post.user.name, user_path(@post.user_id), class: "text-muted" %></p>
            <p class="card-text text-right"><small class="text-muted"><%= l @post.updated_at %></small></p>
            <p class="d-block mx-auto"><%= image_tag @post.image.url unless @post.image.blank? %></p>
            <%= render 'posts/tag_list', tag_list: @post.tag_list %>
            <div class="card-body">
                <%= render 'likes/like', post: @post %>
                <p class="card-text">所在地: <%= @post.address %></p>
                <hr>
                <p class="card-text">施設説明:</p>
                <p><%= @post.description %></p>
                <hr>
                <p class="card-text">参考URL: <%= @post.site_url %></p>
                <hr>
                <% if @post.rate %>
                    <p class="card-text">おすすめ度: <%= "⭐️" * @post.rate %></p>
                    <hr>
                <% end %>
                <% if user_signed_in? && @post.user_id == current_user.id %>
                    <div class="text-center">
                        <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-success" %>
                        <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger" %>
                    </div>
                    <hr>
                <% end %>
                <h5 class="text-center text-muted mt-5 mb-3">コメント一覧(<%= @comments.count %>)</h5>
                <% @comments.each do |c| %>
                    <div>
                        <%= c.content %>
                        <br>
                        <small>by: <%= link_to @post.user.name, user_path(@post.user_id), class: "text-muted" %></small>
                        <br>
                        <small class="text-muted"><%= l c.updated_at %></small>
                        <hr>
                    </div>
                <% end %>

                <% if user_signed_in? %>
                    <%= form_for [@post, @comment] do |f| %>
                        <div class="form-group">
                            <%= f.text_field :content, class: "form-control", id: "commentForm" %>
                            <%= f.hidden_field :post_id, value: @post.id %>
                        </div>
                        <%= f.submit "コメントする", class: "btn btn-info mb-2" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</main>