<!DOCTYPE html>
<html>
  <head>
    <title>このサウナで整った！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Favicon -->
    <%= favicon_link_tag('favicon.ico') %>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>

    <!-- gon -->
    <%= include_gon %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark info-color">
        <%= link_to "このサウナで整った！", root_path, class: 'navbar-brand font-weight-bold font-italic' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= form_tag(search_path,:method => 'get', class: 'nav-link', id: 'post-search') do %>
                <%= text_field_tag :title_or_description_cont %>
                <%= submit_tag '検索', :name => nil, class: "btn btn-light btn-sm my-1 my-sm-0" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to rank_path, class: 'nav-link my-2' do %>
                <i class="fas fa-crown"></i> 人気サウナ10選
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to rate_path, class: 'nav-link my-2' do %>
                <i class="fas fa-star"></i> 高評価サウナ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to infection_control_path, class: 'nav-link my-2' do %>
                <i class="fas fa-bath"></i>  衛生的サウナ
              <% end %>
            </li>
            <% unless user_signed_in? %>
              <li class="nav-item">
                <%= link_to "ログイン", login_path, class: 'nav-link my-2' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", signup_path, class: 'nav-link my-2' %>
              </li>
              <li class="nav-item">
                <%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class: 'nav-link btn btn-success my-1 my-sm-0' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to map_index_path, class: 'nav-link my-2' do %>
                  <i class="fas fa-map-marker-alt"></i> マップから探す
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to notifications_path, class: 'nav-link my-2 ml-3' do %>
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle n-circle"></i>
                  <% end %>
                  <i class="far fa-bell"></i>
                <% end %>
              </li>
            　<li class="nav-item dropdown my-2">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                  <% if current_user.admin? %>
                    <%= link_to rails_admin_path, class: 'dropdown-item' do %>
                      <i class="fas fa-user-cog"></i> 管理画面へ
                    <% end %>
                  <div class="dropdown-divider"></div>
                  <% end %>
                <%= link_to new_post_path, class: 'dropdown-item' do %>
                  <i class="fas fa-pencil-alt"></i> 新規投稿
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item' %>
                <%= link_to "タイムライン", timeline_path, class: 'dropdown-item' %>
                <%= link_to current_user.followings.count.to_s + "フォロー中", followings_user_path(current_user.id), class: 'dropdown-item' %>
                <%= link_to current_user.followers.count.to_s + "フォロワー", followers_user_path(current_user.id), class: 'dropdown-item' %>
                <%= link_to "お気に入り", favorites_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= render 'layouts/flash' %>
    <%= yield %>

    <% if user_signed_in? %>
      <% unless request.path.include?('new') || request.path.include?('edit') %>
        <p class="post-new-btn" style="display: block;">
          <%= link_to new_post_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </p>
      <% end %>
    <% end %>

    <footer class="footer text-center mt-5">
      <div class="container">
        <p class="text-muted">©<%= Date.today.strftime('%Y') %> このサウナで整った！</p>
      </div>
    </footer>
  </body>
</html>
